.btn{
    width:100%;
font-size:35px;
}
body{
    background-image: linear-gradient(to bottom right, white,red);
}
#camera{
    border:5px ridge blue;
    height:300px;
    width:400px; 
}
hr{
    height:5px;
    color:yellow;
}
h3{
    color:blue;
    font-family:monospace;
}